# Copy to .env and set values
DATABASE_URL=postgresql://postgres:prayerwall@localhost:5433/prayerdb
SECRET_KEY=s6wkTVIsEZJ7jaUH7dUPvp8r0gK3oMfL2JLrpzgE8AJvc-9jMiBdaKDOeHfAIyd6
ACCESS_TOKEN_EXPIRE_MINUTES=60